body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
    background-image: url("/Pictures/wp7566374.webp");
    background-size: cover;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    background: teal;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-group , .form-group1{
    margin-bottom: 20px;
    justify-content: center;
    text-align: left;
  }
  .form-group1 {
    float: left;
  }
  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .forgot-password {
    text-align: right;
    margin-left: 200px;
    font-size: 14px;
  }